<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Mensajes entre el LLM & el Usuario -->
      <chat-bubbles text="Hola, ¿en qué puedo ayudarte hoy? 🤠" />
      <!-- <my-message text="Quiero dominar LangChain." /> -->

      @for (message of messages(); track $index) {
        @if(message.isGpt) {
          <gpt-message-orthography
          [text]="message.text"
          [errors]="message.info?.errors || []"
          [userScore]="message.info!.userScore"
          />
        } @else {
          <my-message [text]="message.text" />
        }
      }

      <!-- Efecto de Cargar los Mensajes. -->
       @if (isLoading()) {
        <typing-loader />
       }
    </div>
  </div>
  <!-- MessageBox -->
    <text-message-box
      placeholder="Esperamos que nos brinde mas información."
      (onMessage)="handleMessage($event)"
    />

    <!-- <text-message-box-file
      placeholder="Esperamos que nos brinde mas información."
      (onMessage)="handleMessage($event)"
    /> -->

    <!-- <text-message-box-select
      [options]="[{id: '1022', text: 'Comprar'}, {id: '1023', text: 'Vender'}]"
      placeholder="Esperamos que nos brinde mas información."
      (onMessage)="handleMessageWithSelect($event)"
    /> -->
</div>
